TG Forwarded (example).json
{
  "name": "TG Forwarded (example)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "\nconst channelUsername = $('When Executed by Another Workflow').item.json.channel_post?.forward_origin?.chat?.username;\n\n\nif (!channelUsername) {\n  throw new Error(\"Не удалось получить имя канала (channelUsername). Проверьте входные данные.\");\n}\n\nconst allInputs = $input.all();\nconst finalResults = [];\n\nfor (const inputItem of allInputs) {\n  const messages = inputItem.json.messages || [];\n\n\n  const groupedMessages = new Map();\n\n  for (const message of messages) {\n    const groupId = message.grouped_id || message.id;\n\n    if (!groupedMessages.has(groupId)) {\n      groupedMessages.set(groupId, {\n        mainMessage: null,\n        mediaUrls: [],\n      });\n    }\n\n    const group = groupedMessages.get(groupId);\n\n\n    if (message.video) {\n      group.mediaUrls.push(message.video);\n    }\n    if (message.photo) {\n     \n      group.mediaUrls.push(...(Array.isArray(message.photo) ? message.photo : [message.photo]));\n    }\n\n   \n    if (!group.mainMessage || message.html) {\n        group.mainMessage = message;\n    }\n  }\n\n  for (const group of groupedMessages.values()) {\n    const { mainMessage, mediaUrls } = group;\n\n  \n    if (!mainMessage || !mainMessage.html || mediaUrls.length === 0) {\n      continue;\n    }\n    \n\n    const postUrl = `https://t.me/${channelUsername}/${mainMessage.id}`;\n    const publishedAt = new Date(mainMessage.date * 1000).toLocaleString('ru-RU', {\n      year: 'numeric',\n      month: 'long',\n      day: 'numeric',\n      hour: '2-digit',\n      minute: '2-digit'\n    });\n\n  \n    let reactionsString = '';\n    if (mainMessage.reactions?.results) {\n      reactionsString = mainMessage.reactions.results\n        .filter(r => r.reaction?.emoticon)\n        .map(r => `${r.reaction.emoticon} ${r.count}`)\n        .join(', ');\n    }\n    \n    finalResults.push({\n      json: {\n        postUrl: postUrl,\n        publishedAt: publishedAt,\n        summary: mainMessage.html,\n        mediaUrls: mediaUrls,\n        reactions: reactionsString,\n        views: mainMessage.views,\n        forwards: mainMessage.forwards,\n      }\n    });\n  }\n}\n\nreturn finalResults;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        112
      ],
      "id": "5938c180-8227-4d0a-b011-6903eb3686b5",
      "name": "Code6"
    },
    {
      "parameters": {
        "url": "https://telegram92.p.rapidapi.com/api/history/channel",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $('When Executed by Another Workflow').item.json.channel_post.forward_origin.chat.username }}"
            },
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "offset_id",
              "value": "0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "telegram92.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "12345"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1216,
        128
      ],
      "id": "c493bc5e-1c0c-4eda-94e9-7cd00b350681",
      "name": "TG Parser",
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1840,
        128
      ],
      "id": "a5ed2d6f-206c-4731-991b-36089f4f40ee",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        128
      ],
      "id": "24686b57-1273-4ab5-85f7-2c3daa8bb8d5",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "p6iw2n8x3jjlg33",
        "table": "mgtomon03qrl5uu",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "URL",
              "fieldValue": "={{ $('Code').item.json.postUrl }}"
            },
            {
              "fieldName": "Published",
              "fieldValue": "={{ $('Code').item.json.publishedAt }}"
            },
            {
              "fieldName": "Summary",
              "fieldValue": "={{ $('Code').item.json.summary }}"
            },
            {
              "fieldName": "media",
              "fieldValue": "=https://example.workers.dev/tg-autonews/All/{{ $('Code').item.json.mediaFileNames[0] }}"
            },
            {
              "fieldName": "Site",
              "fieldValue": "Forwarded"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1760,
        0
      ],
      "id": "0214e9c8-a8e1-48eb-9e9b-eee8f9eb21cd",
      "name": "Create a row3"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "projectId": "p6iw2n8x3jjlg33",
        "table": "mgtomon03qrl5uu",
        "id": "={{ $json.Id }}"
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1920,
        0
      ],
      "id": "8f979eeb-076d-442d-a7f7-c08b66470367",
      "name": "Get a row1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ JSON.stringify($('Code13').all()) }}"
            }
          ]
        },
        "options": {
          "systemMessage": "=# ROLE You are an AI assistant who prepares posts for publication in a technology-focused Telegram channel. Your task is to analyze parsed posts from other channels and create a concise, ready-to-publish preview based on them.  # GOAL To analyze structured data about a post (in JSON format) and compose a convenient preview for Telegram. This preview must include a headline, the essence of the news, the date, a source link, and relevant hashtags. The entire text output (headline and essence) must be in Russian. The only exception is the hashtags.  # INPUT DATA FORMAT You will receive a JSON object where the \"json\" key contains the post data with the following fields: Id, Summary (may contain HTML), Post URL (link to the original post), Published (publication date), and Site (name of the source channel).  # RESULT STRUCTURE (STRICTLY FOLLOW!) You must provide the answer strictly according to the following template, using HTML tags for formatting and empty lines between blocks. Do not add any explanatory text or section titles like \"Headline:\", \"Essence:\", etc.  <pre>ТG Forwarded новость №[Id]</pre>  [A catchy and short headline in Russian]  [The essence of the news in 1-2 sentences in Russian]  📅 [Publication Date]  🔗 [Source Link]  [#hashtag1] [#hashtag2]  # INSTRUCTIONS      First Line: Create an identifier in the format ТG [Site] новость №[Id], using the Site and Id values from the JSON. Wrap it in a <pre> tag.      Headline: Based on the Summary, create a catchy, attention-grabbing headline (up to 10 words). It must be in Russian.      Essence: Formulate the main idea from the Summary in one, or at most two, sentences. It must be in Russian.      Date: Take the value from the Published field and place the 📅 emoji before it.      Source: Take the value from the Post URL field and place the 🔗 emoji before it.      Hashtags (IMPORTANT BLOCK):          Place this on a new line after an empty line following the source block.          Analyze the Summary to understand the main topic of the news.          Select 1-2 of the most relevant hashtags strictly from the list below.          Place the hashtags on a single line, separated by a space. They must be used exactly as written in the list (in Ukrainian).  # LIST OF AVAILABLE HASHTAGS      Тема: Великі мовні моделі (LLM)          Основний: #Нейромережі          Уточнюючі: #МовніМоделі, #AIЧатБоти          Розробники: #OpenAI, #Google, #xAI, #Anthropic      Тема: Генерація медіа (зображення, відео, аудіо)          Основні: #AIArt, #AIАудіо          Уточнюючі: #ГенераціяЗображень, #AIVideo, #AIМузика, #AIГолос          Продукти: #Midjourney, #Higgsfield      Тема: Розробка та дослідження          Основний: #AITехнології          Уточнюючі: #AIРозробка, #AIДослідження      Тема: AI в бізнесі          Основний: #AIБізнес          Уточнюючі: #AIПродуктивність, #AIСтартапи, #Стартап  # TASK Here is the JSON with the post data. Create a Telegram preview based on it, strictly following the given structure and instructions."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2256,
        0
      ],
      "id": "b0bbc283-b44e-4ab8-a190-a060bd5283bf",
      "name": "Message a model",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "p6iw2n8x3jjlg33",
        "table": "mgtomon03qrl5uu",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "id",
              "fieldValue": "={{ $('Get a row1').item.json.Id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        2656,
        48
      ],
      "id": "6dfc3f35-2f86-4689-b656-f225f22e096c",
      "name": "Update a row"
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\n\nfor (const item of items) {\n  const data = item.json;\n\n\n  try {\n    if (typeof data.videos === 'string') {\n      data.videos = JSON.parse(data.videos);\n    }\n    if (typeof data.resources === 'string') {\n      data.resources = JSON.parse(data.resources);\n    }\n    if (typeof data.images === 'string') {\n      data.images = JSON.parse(data.images);\n    }\n  } catch (error) {\n\n    if (!Array.isArray(data.videos)) data.videos = [];\n    if (!Array.isArray(data.resources)) data.resources = [];\n    if (!Array.isArray(data.images)) data.images = [];\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        0
      ],
      "id": "08e45e6e-40b8-4d8f-b9ff-c3fb0f4834f5",
      "name": "Code13"
    },
    {
      "parameters": {
        "jsCode": "\nconst resultItems = [];\n\nfor (const item of items) {\n  const json = item.json;\n\n\n  if (json.mediaUrls && Array.isArray(json.mediaUrls)) {\n\n    const mediaFileNames = json.mediaUrls.map(url => {\n\n      return url.split('/').pop();\n    });\n\n\n    json.mediaFileNames = mediaFileNames;\n  }\n\n\n  resultItems.push({\n    json: json\n  });\n}\n\n\nreturn resultItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        0
      ],
      "id": "cd3ee44a-88c6-432f-8c08-129894c8c612",
      "name": "Code"
    },
    {
      "parameters": {
        "chatId": "=",
        "text": "={{ $('Message a model').item.json.content.parts[0].text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🚀CREATE POST",
                    "additionalFields": {
                      "callback_data": "={{'TG' + $('Get a row1').item.json.Id}}{{$('Get a row1').item.json.Site}}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3168,
        336
      ],
      "id": "98328aaf-3399-4618-86c9-d7f7720f8be0",
      "name": "Send a text message2",
      "webhookId": "d2a8e95c-e282-4d04-9683-6026f2ac6f70",
      "credentials": {
        "telegramApi": {
          "id": "SnPsAmIZbdEV4GZ8",
          "name": "YT"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "=",
        "text": "=Error ({{ $('Code13').item.json.Id }}{{ $('Code13').item.json.TG }}) :/",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3696,
        512
      ],
      "id": "6cb47df0-8d0b-421d-b314-9a31eaaa4276",
      "name": "Send a text message1",
      "webhookId": "d2a8e95c-e282-4d04-9683-6026f2ac6f70",
      "credentials": {
        "telegramApi": {
          "id": "SnPsAmIZbdEV4GZ8",
          "name": "YT"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.mediaUrls[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        0
      ],
      "id": "f209abc7-b021-45fe-b8fa-df26d6b15578",
      "name": "Get tmp file"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2496,
        160
      ],
      "id": "143c80b8-b453-42f6-942c-f6af63434513",
      "name": "3s",
      "webhookId": "efb5412c-27c7-429c-a2ee-6c7456a28dca"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code13').item.json.media }}",
                    "rightValue": ".mp4",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "001cb8b9-7ead-4a42-b87f-52db4cab2019"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9b0f94b1-1122-417e-bb5f-2d2a0896b2e2",
                    "leftValue": "={{ $('Code13').item.json.media }}",
                    "rightValue": ".mp4",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Picture"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5a871acb-55b6-41ec-a773-62d284269e45",
                    "leftValue": "={{ $('Code13').item.json.media }}",
                    "rightValue": "[null]",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2848,
        96
      ],
      "id": "380dde8c-454e-4290-9318-e7e0ae60ac30",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "=",
        "file": "=https://example.workers.dev/tg-autonews/All/{{ $('Code').item.json.mediaFileNames[0] }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🚀CREATE POST",
                    "additionalFields": {
                      "callback_data": "={{'TG' + $('Get a row1').item.json.Id}}{{$('Get a row1').item.json.Site}}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "caption": "={{ $('Message a model').item.json.content.parts[0].text }}",
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3328,
        272
      ],
      "id": "b2d7996c-612a-41ce-8191-9b1632bd92a5",
      "name": "Send a photo message",
      "webhookId": "d2a8e95c-e282-4d04-9683-6026f2ac6f70",
      "credentials": {
        "telegramApi": {
          "id": "SnPsAmIZbdEV4GZ8",
          "name": "YT"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "=",
        "binaryData": true,
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🚀CREATE POST",
                    "additionalFields": {
                      "callback_data": "={{'TG' + $('Get a row1').item.json.Id}}{{$('Get a row1').item.json.Site}}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "caption": "={{ $('Message a model').item.json.content.parts[0].text }}",
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3520,
        208
      ],
      "id": "a2971596-921d-4270-87a4-fc378ddf3d74",
      "name": "Send a video",
      "webhookId": "d2a8e95c-e282-4d04-9683-6026f2ac6f70",
      "credentials": {
        "telegramApi": {
          "id": "SnPsAmIZbdEV4GZ8",
          "name": "YT"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "adef1bf7-acc2-4850-9d6c-2ba324ca71d4",
              "leftValue": "={{ $json.status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        848,
        0
      ],
      "id": "40ad8a39-9814-4294-b917-022a24ccf945",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "927dd3df-e28b-43a8-845d-42824a432049",
              "name": "url",
              "value": "={{ $json.postUrl }}",
              "type": "string"
            },
            {
              "id": "ed937ed6-6c96-4d32-847c-b077be02b45d",
              "name": "publishedAt",
              "value": "={{ $json.publishedAt }}",
              "type": "string"
            },
            {
              "id": "002a6446-3012-4361-8233-682a86d7dfae",
              "name": "summary",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "00ad2483-1e1b-4045-b50c-e038428c6d93",
              "name": "mediaUrls",
              "value": "={{ $json.mediaUrls }}",
              "type": "array"
            },
            {
              "id": "82e04a49-19f7-4ba8-b189-f0ea57432230",
              "name": "postUrl",
              "value": "={{ $json.postUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "d7f0d648-13ed-4c92-9f94-193fc327dc9c",
      "name": "URL"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p6iw2n8x3jjlg33",
        "table": "mgtomon03qrl5uu",
        "returnAll": true,
        "options": {
          "fields": [
            "URL"
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "c70b497e-af1c-4993-a2b1-63a2537bbeec",
      "name": "URLs",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "\nconst sourceData = $node[\"URL\"].json;\nconst urlToCompare = sourceData.url;\n\n\nif (!urlToCompare) {\n  return [];\n}\n\n\nconst urlListFromInput = items.map(item => item.json['URL']);\n\nconst isMatchFound = urlListFromInput.includes(urlToCompare);\n\n\nif (isMatchFound) {\n\n  return [{\n    json: {\n      ...sourceData, \n      status: \"duplicate_found\" \n    }\n  }];\n  \n} else {\n\n  return [{\n    json: sourceData\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "6b78fc83-7329-4679-bd6d-c9752d669260",
      "name": "Code1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a21cb812-2126-4517-86c7-00b4b7a4d2be",
              "name": "postUrl",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "3f4f6428-3db6-411e-9231-1d7b434ce518",
              "name": "mediaUrls[0]",
              "value": "={{ $json.mediaUrls[0] }}",
              "type": "string"
            },
            {
              "id": "6925d609-bd8e-4333-ade2-7fe237d313ca",
              "name": "summary",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "6bcf3020-91ac-4b37-afda-156fec20dcec",
              "name": "publishedAt",
              "value": "={{ $json.publishedAt }}",
              "type": "string"
            },
            {
              "id": "0b29043f-1b6a-4c4c-89a9-2377466a5abc",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        0
      ],
      "id": "0d2a28f8-7b37-49df-8a82-de0220ea7e54",
      "name": "Check"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -864,
        352
      ],
      "id": "8ba5e1ca-f6f1-454e-8b2f-69ff999e4d16",
      "name": "60s",
      "webhookId": "94b772f2-fe03-4297-b4c3-2ab6c3675230"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6eefccbd-672f-4c9a-be90-929ea9904dde",
              "leftValue": "={{ $json.channel_post}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1008,
        224
      ],
      "id": "3b04b44f-3a67-4512-8370-0279d1eb9779",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "=",
        "text": "=📩 Forwarded post. Start processing. . .",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1456,
        128
      ],
      "id": "f135cb31-0178-4d9f-84b4-f3208ccbe285",
      "name": "Send a text message",
      "webhookId": "d2a8e95c-e282-4d04-9683-6026f2ac6f70",
      "credentials": {
        "telegramApi": {
          "id": "SnPsAmIZbdEV4GZ8",
          "name": "YT"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=",
        "text": "=❌ Error",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -784,
        224
      ],
      "id": "5de6ebec-b605-4c89-8982-70ddcfc6d80d",
      "name": "Send a text message3",
      "webhookId": "d2a8e95c-e282-4d04-9683-6026f2ac6f70",
      "credentials": {
        "telegramApi": {
          "id": "SnPsAmIZbdEV4GZ8",
          "name": "YT"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://example.workers.dev/tg-autonews/All/{{ $('Code').item.json.mediaFileNames[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3200,
        48
      ],
      "id": "957c8139-49a1-4f2e-9ef6-65164edb36f7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "tg-autonews",
        "fileName": "=All/{{ $('Code').item.json.mediaFileNames[0] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1568,
        0
      ],
      "id": "b22845d1-e18a-4ced-9c9e-35554fa8da9e",
      "name": "Save to storage"
    }
  ],
  "pinData": {},
  "connections": {
    "TG Parser": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row3": {
      "main": [
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "Code13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code13": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Get tmp file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message2": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get tmp file": {
      "main": [
        [
          {
            "node": "Save to storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3s": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a video": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL": {
      "main": [
        [
          {
            "node": "URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URLs": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "60s": {
      "main": [
        [
          {
            "node": "TG Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "60s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "TG Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to storage": {
      "main": [
        [
          {
            "node": "Create a row3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "55358ff8-95c9-467a-9be3-09f35f50dce6",
  "meta": {
    "instanceId": "ba11b2825d3e379606d94cf5040fe1f575a23b6e6b8cfb66c708c61b412a8c3e"
  },
  "id": "9vobdF7gyagfkaVG",
  "tags": []
}